.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--container-width);
  transition: all 0.3s ease-in-out;
}

.select-options {
  display: flex;
  flex-wrap: wrap;
}

.selected {
  position: absolute;
  top: 68px;
}
