:root {
  --main-color: #231651;
  --second-color: #4dccbd;
  --third-color: #2374ab;
  --fourth-color: #ff8484;
  --fifth-color: #d6fff6;
  --container-width: 1200px;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-container {
  width: 100%;
  background-color: var(--main-color);
}

nav {
  position: relative;
  color: white;
  height: 70px;
  width: 100%;
  max-width: var(--container-width);
  margin: auto;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.search-btn {
  position: relative;
  width: 100%;
  max-width: var(--container-width);
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 0.2em;
  outline: none;
  font-size: 1em;
  padding: 0.6em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn:hover {
  background-color: #231651d7;
  transition: all 0.3s ease-in-out;
}
.search-form {
  display: none;
}

.search-form-hidden {
  display: none;
}

.search-form-visible {
  display: block;
}

@media (min-width: 768px) {
  .search-btn {
    display: none;
  }
  .search-form {
    display: block;
  }
}
